#Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

#Database
*.Database
*.sqlite3

#Logs
logs/*.logs

#IDE
.vscode/
.idea/

# Airflow temporary files
*.pid
*.lock
logs/
data/
airflow.cfg
webserver_config.py
*.pid